
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ansible-styled {
  font-size: 3rem;
  font-weight: bold;
  color: #0074E4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

